
obj/BasicAuthMccG3.csproj.nuget.dgspec.json
obj/BasicAuthMccG3.csproj.nuget.g.props
obj/Debug/netcoreapp3.1/BasicAuthMccG3.assets.cache
obj/Debug/netcoreapp3.1/BasicAuthMccG3.csproj.AssemblyReference.cache
obj/Debug/netcoreapp3.1/BasicAuthMccG3.GeneratedMSBuildEditorConfig.editorconfig
obj/project.assets.json
obj/project.nuget.cache
